<div class="top_trainer_middle ui menu">
	<div id="cancelitem" class="item">
		<div id="cancel" href="{{path('qcm')}}" data-target="#response" class="circular ui icon button"> <i class="arrow left icon"></i></div>
	</div>
	<div class="flex-container">
		<div class="header item">
			Qcm
		</div>
		<div class="right_button">
			<div class="item" id="submitQ">
				<div id="create"  class="ui primary button">Submit</div>
			</div>
		</div>
	</div>
</div>
<div id="scroll"  style="overflow-y: scroll;overflow-x: hidden;height: calc( 100vh - 95px );background: #fafbfc;">
<div class="main ui container segment">
<div style="display: flex;justify-content: space-between;">
{{ q['qcmForm'] | raw }}
	<div class="ui info message" style="width: 200px"; height:150px;margin-right: 1rem;">
		<div class="header">
			Need help ?
		</div>
		<ul class="list">
			<li></li>
			<li>FAQ</li>
		</ul>
	</div>
</div>
	<div class="ui menu" style="margin-top: 1em;">
		<div class="header item" style="border-bottom: 3px solid #2185d0;margin-bottom: -1px;padding-bottom: calc( 0.928571em - 4px )">
			My qcm
		</div>
		<div class="header item" style="margin-bottom: -1px;padding-bottom: calc( 0.928571em - 4px )">
			Total points:
			<div>
				0
			</div>
		</div>

	</div>
	<table id="dtBankChecked" class="ui table" style="margin:0;">

	</table>
	<div class="ui menu" id="qbankbar">
		<div class="header item" style="border-bottom: 3px solid #2185d0;margin-bottom: -1px;padding-bottom: calc( 0.928571em - 4px )">
			Question bank
		</div>
		{{q['filterType'] | raw }}
		{{q['filterTags'] | raw }}
	</div>
	{{ q['dtBankImport'] | raw }}
</div>
</div>
<style>
	body{
		overflow: hidden;
	}
</style>
{{ script_foot | raw }}