<div class="top_trainer_middle ui menu" id="qbankbar">
	<div class="header item" style="border-bottom: 3px solid #2185d0;margin-bottom: -1px;padding-bottom: calc( 0.928571em - 4px )">
		My qcms
	</div>
	{{q['filterType'] | raw }}
	{{q['filterTags'] | raw }}
	<div class="right menu">
		<div class="item">
			<div id="addQcm" href="{{path('qcm.add')}}"  data-target="#response"  class="ui primary button">{{t('addQcm',[],'main')}}</div>
		</div>
	</div>
</div>
<div id="scroll"  style="overflow-y: auto;overflow-x: hidden;height: calc( 100vh - 95px );background: #fafbfc;">
<div class="ui container segment">
	<div class="ui cards">
		{{q['dtQcms'] | raw }}
		{{q['modal'] | raw }}
	</div>
</div>
</div>
<style>
	body{overflow: hidden}
</style>
{{script_foot | raw}}
