{% block footer %}
<div class="ui footer">
	<span>&copy; Les bleus - 2020</span>
</div>
{% endblock %}
{% block scripts %}
{{ js('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}
{{ js('https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js') }}
{{ js('/js/authModal.js') }}
{{ js('/js/menu.js') }}
{{ js('/js/ckeditor/ckeditor.js') }}
{{ js('/js/ckeditor/translations/fr.js') }}
{{ js('/js/ckeditor/translations/en-gb.js') }}
{{ js('/js/ckeditor/include.js') }}
{% endblock %}
</body>
</html>