<!DOCTYPE html>
<html>
<head>
{% block header %}
	<base href="{{config['siteUrl']}}">
	<meta charset="UTF-8">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<title>QCM</title>
	{{js('/js/timer.js')}}
	{{ js('js/highlight.min.js') }}
	<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block css %}
	{{ css('css/androidstudio.min.css') }}
	{{ css('https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css') }}
	{{css('css/style.css') | raw}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
</head>
{% block head %}
<body>
{% endblock %}