<div class="ui primary menu" style="border-radius:0px;">
	<a class="item" href="{{path('_default')}}">Home</a>
	<a class="item" href="{{path('formQuestion')}}">Question</a>
	{% if user.email|length > 0 %}
		<div class="right menu">
		<a class="item" href="{{path('terminate')}}">Logout</a>
		<a class ="item">	{{user.email}}</a>
	</div>
	{% else %}
		<div class="right menu">
		<a class="item" href="{{path('login')}}">Log in</a>
		<a class="item" href="{{path('register')}}">Register</a>
	</div>
	{% endif %}
</div>