{{js('/js/timer.js')}}
<div class="ui container">
	<table class="ui celled striped table">
	  <thead>
	    <tr><th colspan="3">
	      Notifications
	    </th>
	  </tr></thead>
	  <tbody>
	  {% for i in notifications  %}
	    <tr>
	      <td class="collapsing">
	        {{i.id}}
	      </td>
	      <td class="collapsing">
	        <a href="{{i.link}}">Cliquez ici</a>
	      </td>
	      <td class="collapsing">
	        <span><script>createTimer({{i.timer}})</script></span>
	      </td>
	    </tr>
	  {% endfor %}
	  </tbody>
	</table>
</div>
{{script_foot | raw}}