AddDefaultCharset UTF-8

Require all granted

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{HTTP:Authorization} .
   	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	RewriteCond %{REQUEST_FILENAME} !-f  
	RewriteCond %{HTTP_ACCEPT} !(.*images.*)
	RewriteRule ^(.*)$ index.php?c=$1 [L,QSA]
</IfModule>
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>


php_value upload_max_filesize=32M
php_value post_max_size=32M
php_value max_execution_time 300
php_value max_input_time 300