<div id="loginmodal" class="ui modal" style="padding:10px;">
  <i class="close icon"></i>
  <div class="header">
    {{t('login',[],'main')}}
  </div>
  <form class="ui large form" action="{{path('loginPost')}}" method="post">
      <div class="ui stacked">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="{{t('email',[],'main')}}">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="{{t('password',[],'main')}}">
          </div>
        </div>
      </div>
		{% if process == true %}
      		<div class="ui message {{process}} visible">{{info}}</div>
      	{% endif %}
  <div class="actions">
		<input type="submit" class="ui fluid large primary submit button" value="{{t('login',[],'main')}}">
		</form>
  </div>
</div>


<div id="registermodal" class="ui modal" style="padding:10px;">
  <i class="close icon"></i>
  <div class="header">
    {{t('register',[],'main')}}
  </div>
<form class="ui large form" method="post" action="{{path('registerPost')}}">
      <div class="ui stacked">
      	<div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="firstname" placeholder="{{t('firstname',[],'main')}}">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="lastname" placeholder="{{t('lastname',[],'main')}}">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="{{t('email',[],'main')}}">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="{{t('password',[],'main')}}">
          </div>
        </div>
        <div class="field">
          	<div class="ui left icon input">
				<select name="language" class="ui search dropdown">
			  		<option value="en_EN">English</option>
			  		<option value="fr_FR">Français</option>
				</select>
			</div>
		</div>
      </div>

  <div class="actions">
		<input type="submit" class="ui fluid large primary submit button" value="{{t('register',[],'main')}}">
		</form>
  </div>
</div>