<!--close min height div-->
</div>
<!---->
<div class="ui inverted vertical footer segment" style="margin-top:30px">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Sitemap</a>
          <a href="#" class="item">Contact Us</a>
          <a href="https://github.com/qgorak/qcm-app" class="item"><i class="ui github icon"></i>Github</a>
          <a href="#" class="item">Extra link</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">How To Launch Exam</a>
          <a href="#" class="item">FAQ</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">QCM APP</h4>
        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
      </div>
    </div>
  </div>
</div>