<div class="ui primary menu" style="border-radius:0px;">
	<a class="item" href="{{path('_default')}}">Home</a>
	<a class="item" href="{{path('question')}}">Question</a>
	<a class="item" href="{{path('group')}}">Group</a>
		<a class="item" href="{{path('qcm')}}">Qcm</a>
	{% if user.email|length > 0 %}
		<div class="right menu">
		<a class="item" href="{{path('terminate')}}">Logout</a>
		<a class ="item">	{{user.email}}</a>
	</div>
	{% else %}
		<div class="right menu">
		<a class="item" id="login">Log in</a>
		<a class="item" id="register">Register</a>
	</div>
	{% endif %}
</div>

