<div class="ui secondary pointing menu">
	<a class="trainermenu item" href="{{path('dashboard')}}"><i class="signal icon"></i>Dashboard</a>
	<a class="trainermenu item" href="{{path('question')}}"><i class="question icon"></i>{{t('question',[],'main')}}</a>
	<a class="trainermenu item" href="{{path('group')}}"><i class="users icon"></i>{{t('group',[],'main')}}</a>
	<a class="trainermenu item" href="{{path('qcm')}}"><i class="tasks icon"></i>{{t('qcm',[],'main')}}</a>
	<a class="trainermenu item" href="{{path('exam')}}"><i class="pencil alternate icon"></i>{{t('exam',[],'main')}}</a>
</div>


