<div class="ui inverted segment" style="border-radius: 0; height:55px;padding: 0.5em 0.5em">
<div id="primary-menu" class="ui inverted secondary menu">
	<a class="item" href="{{path('dashboard')}}" id="trainermode"><i class="cog icon"></i>Trainer mode</a>
	<a class="item" href="{{path('_default')}}">{{t('home',[],'main')}} </a>
	<div class="right menu">
		<a class="item" href="{{path('notification')}}"><i class="icons">
			<i class="bell icon"></i>
			<i id="notificationCircle" style="visibility: hidden" class="top right inverted orange corner circle icon"></i>
		</i></a>
		<a class="item" href="{{path('terminate')}}">{{t('logout',[],'main')}}</a>
		<a class="item" href="{{path('user')}}">
			<i class="icons">
			<i class="user icon"></i>
			<i class="user icon"></i>
			</i>
		</a>
	</div>
</div>
</div>


