<div class="ui inverted segment" style="border-radius: 0; height:55px;padding: 0.5em 0.5em">
<div id="primary-menu" class="ui inverted secondary menu">
	<a class="item" href="{{path('dashboard')}}" id="trainermode"><i class="cog icon"></i>Trainer mode</a>
	<a class="item" href="{{path('_default')}}">{{t('home',[],'main')}} </a>
	<div class="right menu">
		<a class="item" href="{{path('notification')}}"><i class="icons">
			<i class="bell icon"></i>
			<i id="notificationCircle" style="visibility: hidden" class="top right inverted orange corner circle icon"></i>
		</i></a>
		<div class="item">
			<div id="joingroup" class="ui primary button">{{t('joinSubmit',[],'main')}}</div>
		</div>
		<div id="menuaccount" class="ui dropdown icon item">
			<i class="user icon"></i>
			<div class="menu">
				<a class="item" href="{{path('user')}}">My account</a>
				<a class="item" href="{{path('terminate')}}">{{t('logout',[],'main')}}</a>
			</div>
		</div>
	</div>
</div>
</div>
<div id="joinModal" class="ui fullscreen modal" style="padding:10px;">
	<div class="header">Join a group</div>
	<i class="close icon"></i>
	<div class="content">
		<div id="response-joinform">
		</div>
	</div>
</div>


