<div id="primary-menu" class="ui inverted menu">
	<a class="item" href="{{path('dashboard')}}" id="trainermode"><i class="cog icon"></i></a>
	<a class="item" href="{{path('_default')}}">{{t('home',[],'main')}} </a>
	<div class="right menu">
		<a class="item" href="{{path('notification')}}"><i class="icons">
			<i class="bell icon"></i>
			<i id="notificationCircle" style="visibility: hidden" class="top right inverted orange corner circle icon"></i>
		</i></a>
		<a class="item" href="{{path('terminate')}}">{{t('logout',[],'main')}}</a>
		<a class ="item" href="{{path('user')}}">{{user.email}}</a>
	</div>
</div>


