<form method="post" id="examAdd" name="examAdd" action="{{path('examAddSubmit')}}">
<div class="ui form">
  <div class="two fields">
    	<div class="field">
    	<label>{{t('startDate',[],'main')}}</label>
		<div class="ui calendar">
		    <div class="ui input left icon">
		    <i class="calendar icon"></i>
		    <input type="text" name="dated" placeholder="Date/Time">
		    </div>
		</div>
	</div>
    	<div class="field">
    	<label>{{t('endDate',[],'main')}}</label>
		<div class="ui calendar">
		    <div class="ui input left icon">
		    <i class="calendar icon"></i>
		    <input type="text" name="datef" placeholder="Date/Time">
		    </div>
		</div>
	</div>
  </div>
</div>
<div class="field">
	<label for="options">Liste des options</label>
		<select class="ui fluid search dropdown" name="options" multiple="">
		  <option value="AL">Alabama</option>
		  <option value="AK">Alaska</option>
		  <option value="AZ">Arizona</option>
		</select>
	</div>
{{q['exam'] | raw}}
<input id="examSubmit" type="submit" value="{{t('create',[],'main')}}">
</form>
{{script_foot | raw}}