<div class="top_trainer_right ui menu">
	<div class="header item" style="border-bottom: 3px solid #2185d0;margin-bottom: -1px;padding-bottom: calc( 0.928571em - 4px )">
		Programmer un examen
	</div>
</div>
<div class="main ui container">
<form method="post" id="examAdd" name="examAdd" action="{{path('examAddSubmit')}}">
<div class="ui form">
  <div class="two fields">
    	<div class="field">
    	<label>{{t('startDate',[],'main')}}</label>
		<div class="ui calendar" id="rangestart">
		    <div class="ui input left icon">
		    <i class="calendar icon"></i>
		    <input type="text" name="dated" placeholder="{{t('startDate',[],'main')}}">
		    </div>
		</div>
	</div>
    	<div class="field">
    	<label>{{t('endDate',[],'main')}}</label>
		<div class="ui calendar" id="rangeend">
		    <div class="ui input left icon">
		    <i class="calendar icon"></i>
		    <input type="text" name="datef" placeholder="{{t('endDate',[],'main')}}">
		    </div>
		</div>
	</div>
  </div>
</div>
<div class="field">
	<label for="options">Liste des options</label>
		<select class="ui fluid search dropdown" name="options" multiple="">
		  <option value="AL">Alabama</option>
		  <option value="AK">Alaska</option>
		  <option value="AZ">Arizona</option>
		</select>
	</div>
{{q['exam'] | raw}}
<input id="examSubmit" class="ui button green" type="submit" value="{{t('create',[],'main')}}">
</form>
{{js('/js/datepicker.js')}}
<script>datePicker('{{lang}}')</script>
{{script_foot | raw}}
</div>
<style>
	body{overflow: hidden}
</style>