
		    <div style="display: flex">
				<div id="response-overseeuser" style="width: calc( 100% - 235px )!important;">
					<div style="display: flex;align-items:center;flex-direction:column; flex:1;height: calc( 100vh - 44px );">
						<div class="ui menu" style="border: 1px solid #e8e8e8;margin-top: auto;margin-bottom: 0;width: 80%;height: 40px">
							<div class="item" >
								<i class="ui icon terminal"></i>Live Console
							</div>

							</div>
						<div id="logs_console" style="background:#282b2e;width: 80%;height:60vh;overflow-y: scroll;margin-bottom: 2em">
						<div style="width: 100%;" class="logs_text">
						<pre  style="width: 100%;line-height: 0.9em;white-space: pre-wrap;color: white;margin: 0"><code id="logs" ></br>{{ logs | raw }}</code>
							</pre>
						</div>
					</div>
					</div>
				</div>

		    	<div style="display: flex;width: 235px">
					<div class="deck" style="margin: 0;width: 235px;border: 1px solid #dededf">
						<div id="buttonconsole" class="ui inverted segment" style="margin: 0;">
							<button class="ui inverted black button"><i class="terminal icon"></i>Global console</button>
						</div>
						<div class="ui label " style="display:flex;border-radius:0;padding-left: 1em;"><i class="ui users icon"></i> <div style="padding-left: 1em;">{{ group | raw }}</div></div>
					{{q['OverseeUserDt'] | raw }}
					</div>
		    	</div>
			</div>
		<style>
			body{
				overflow: hidden;
			}

			</style>
		<input id="countQ" type="hidden" value="{{ countQ | raw }}">
			<input id="console" type="hidden" value="1">

<div class="ui modal cheat">
<div class="ui form">
  <div class="field">
    <label>{{t('alertUser',[],'main')}} <span class="user"></span></label>
    <textarea name="message"></textarea>
  </div>
  <button id="submitMessage" class="ui button" type="submit">{{t('send',[],'main')}}</button>
  <button id="cancelMessage" class="ui button cancel">{{t('cancel',[],'main')}}</button>
</div>
</div>
<style>
	#response-overseeuser .ui.main.container.segment{
		width: 100%;
	}
	#OverseeUserDt tbody {
		display: block;
	}
	#OverseeUserDt thead {
		display: flex;
	}
	#OverseeUserDt tr {
		display: flex;
		cursor: pointer;

	}
	#OverseeUserDt tr:hover {
		background: #f8f8f8;
	}

	#OverseeUserDt tr.active:hover {
		background: #e0e0e0;
	}

	#OverseeUserDt td {
		display: block;
		border-top: none;
	}
	#OverseeUserDt thead{
		display: none!important;
	}

</style>

{{script_foot | raw }}