<div class="ui container" style="margin-top:15px;">
	<div id="response">
		<div class="ui stackable two column grid">
		    <div class="row">
		    	<div class="three wide column">
					{{q['OverseeUserDt'] | raw }}
		    	</div>
		    	<div class="thirteen wide column">
		        	<div id="response-overseeuser">
		        	Welcome to the oversee console, click on a user to start.
		        	</div>
		    	</div>
			</div>
		</div>
	</div>
</div>
<div class="ui modal cheat">
<div class="ui form">
  <div class="field">
    <label>{{t('alertUser',[],'main')}} <span class="user"></span></label>
    <textarea name="message"></textarea>
  </div>
  <button id="submitMessage" class="ui button" type="submit">{{t('send',[],'main')}}</button>
  <button id="cancelMessage" class="ui button cancel">{{t('cancel',[],'main')}}</button>
</div>
</div>
{{script_foot | raw }}