<div class="main ui container segment" style="overflow-y:auto;border:none; height: calc( 100vh - 44px );">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first"><i class="ui eye outline icon"></i>Real-time Answers</a>
        <a class="item" data-tab="second"><i class="ui comments outline icon"></i> Messages </a>
        <a class="item" data-tab="third"><i class="ui shield alternate icon"></i>Anti-cheat</a>
    </div>
    <div class="ui bottom attached tab segment" data-tab="first">
        <div id="answers_accordion">

            dffsdf
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        Second
    </div>
    <div class="ui bottom attached tab segment active" data-tab="third">
        Third
    </div>
</div>
<input id="idNewQ" type="hidden" value=0>
<input id="idUser" type="hidden" value="{{ idUser| raw }}">
<script>
    $('.menu .item')
    .tab()
    ;
</script>
{{script_foot | raw }}