<div class="ui container segment">

<form id="frmAnswer" class="ui form" name="frmAnswer">
<div class="ui divider"></div>
{% for answer in answers %}
<i class="circle outline icon"></i>
<div class="ui input">
  <input type="text" name="caption-{{ loop.index }}" value="{{ answer.caption }}" placeholder="Entrez le titre de la réponse" >
  </div>
  <div class="ui input" style="width:75px;">
  <input type="number" name="score-{{ loop.index }}"  value="{{ answer.score }}" >
  </div>
  <a   class="ui red button _remove" data-ajax="{{ loop.index }}" >Delete answer</a>
    <div class="ui divider"></div>
{% endfor %}
</form>
<a id="addAnswer" class="ui green button" name="submit" >Add answer</a>
</div>

{{ script_foot | raw }}