   {{ msg | raw}}

<form id="frmAnswer" class="ui form" name="frmAnswer">
  <div class="ui container grid" style="margin-top: 0px;">
  <div class="form-group box row" style="padding:.3em 0">
    <div class="three wide column">
      <p></p>
    </div>
    <div class="ten wide column answer">
      <div class="ui fitted read-only checkbox" style="min-height: 14px;">
        <input type="checkbox" disabled>
        <label></label>
      </div>
    <div class="ui transparent input">
      <input style="width:200px;" type="text" name="caption[]" value="{{ answer.caption }}" placeholder="Entrez le titre de la réponse" >
    </div>
    <div class="ui input" style="width:75px;">
      <input id="score" type="number" min="-100" max="100" step=".5" name="score[]"  value="0" >
    </div>
    <a   class="circular ui icon button button-remove"  style="float:right;" ><i class="x circle icon"></i></a>
    </div>
    <div class="three wide column">
      <p></p>
    </div>
  </div>
  </div>
  <div class="ui container grid">
    <div class="row" style="padding-top: 0;">
      <div class="three wide column">
        <p></p>
      </div>
      <div class="ten wide column">
        <div style = "margin-bottom: 1em;">
        <div class="ui fitted read-only checkbox" style="min-height: 14px;">
          <input type="checkbox" disabled>
          <label></label>
        </div>
        <div class="ui transparent input button-add" style="color:#c7c7c7;">
          <div class="btn-content" >
            Add answer
          </div>
        </div>
      </div>
      </div>
      <div class="three wide column">
        <p></p>
      </div>
    </div>
  </div>
</form>
<style>


  .button-add:hover { border-color: #2185d0;}
  .button-add{
    border-bottom: 1px solid rgba(34,36,38,.15);
    transition: border-color 0.2s linear;

  }
  .btn-content{
    padding: .67857143em 1em;
    cursor: text;
  }
  .answer:hover { border-color: #2185d0;}
  .answer{
    border-bottom:1px solid rgba(34,36,38,.15);
    transition: border-color 0.2s linear;
  }

</style>
{{ script_foot | raw }}