body{
	 background-image: url(/public/assets/img/wave.svg);
	 background-repeat: no-repeat;
}
.head{
	background-color: #1f1f1f;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
} 

.footer {
	
  	background-color: #F7F7F7;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	padding: 15px 0;
  	text-align:center;
}