@keyframes hourglassRotation {
  from {
    transform: rotate(0deg);
  }
  50%{
  	transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

body{

	 background-repeat: no-repeat;
}
.head{
	background-color: #1f1f1f;
}

.ui.menu{
	margin:0;
	border-radius:0px;
	border:0px;
	border-bottom:1px solid rgba(34,36,38,.15);
}

.ui.styled.accordion{
	width:100%;
}

.ui.cards{
	margin:0 !important;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
} 

#dropdown-exam-idQcm-0,#dropdown-exam-idGroup-0,.field .dropdown{
	width:100%;
}

#tagManager{
	width:100%;
}

.footer {	
  	background-color: #1b1c1d;
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	padding: 15px 0;
  	text-align:center;
  	color:rgba(255,255,255,.9);
}

.hourglass {
  animation: hourglassRotation 4s ease-in-out infinite;
}


#field-questionForm-ckcontent{
	display:none;
}

.modal{
	padding:10px;	
}

#bank{
	border: 1px solid #d4d4d5;
	border-radius:.28571429rem .28571429rem 0 0;
}
#QuestionBank{
	border-top:none;
}
#myquestions{
	padding:12px;
}


#_userInfo{
	display:none;
}

pre {tab-size: 4;}

.ck.ck-editor {
	width:100% !important;
}

#mygroupsacc .title{
	padding:0 0 5px 0;
	vertical-align: middle;
}
#gridTitleGroup .column{
	padding: 14px 0 5px 15px;
	height:100%;
}
#gridTitleGroup{
	height: 50px;
	margin: 0;
	padding:0;
}
.active #labelName{
	background-color: lightgrey;
	border-color: transparent;
}
#mygroupsacc .icon.dropdown{
	display: none;
}
#btDemand{
	background:none;
	position:relative;
	padding-right: 0;
	padding-top: 0;
	margin-top:15px;
	margin-bottom:5px;
	margin-right:10px
}
#questionForm-submit-0{
	margin-right: 100%;
	width: 150px;
}
#message-questionForm-message-0{
	display: none;
}
#dropdown-questionForm-mytags-0 .menu{
	max-height: 300px;
 }