body{

	 background-repeat: no-repeat;
}
.head{
	background-color: #1f1f1f;
}

.ui.menu{
	margin:0;
	border-radius:0px;
	border:0px;
	border-bottom:1px solid rgba(34,36,38,.15);
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
} 

#dropdown-exam-idQcm-0,#dropdown-exam-idGroup-0,.field .dropdown{
	width:100%;
}
#tagManager{
	width:100%;
}

.footer {
	
  	background-color: #F7F7F7;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	padding: 15px 0;
  	text-align:center;
}
#field-questionForm-ckcontent{
	display:none;
}

#bank{
	border: 1px solid #d4d4d5;
	border-radius:.28571429rem .28571429rem 0 0;
}
#QuestionBank{
	border-top:none;
}
#myquestions{
	padding:12px;
}

#dtItems tbody tr:hover {
	background:whitesmoke;
}