@keyframes hourglassRotation {
  from {
    transform: rotate(0deg);
  }
  50%{
  	transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.head{
	background-color: #1f1f1f;
}
.trainermenu{
	padding: 0.5em;
	margin:1em;
}
.trainermenu.item{
	width: 100%;
	margin:0;
}
#verticaliconmenu a:hover{
	background:#f8f8f8;
}

.trainermenu.item.active{
	border-left: 4px solid #1f7199
}
#trainernavbar{
min-height:calc(100vh - 44px);
display:block;z-index:0;
position:sticky!important;
}
.ui.menu{
	margin:0;
	border-radius:0px;
	border:0px;
	border-bottom:1px solid rgba(34,36,38,.15);
}

.ui.styled.accordion{
	width:100%;
}

.ui.cards{
	margin:0 !important;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
} 

#dropdown-exam-idQcm-0,#dropdown-exam-idGroup-0,.field .dropdown{
	width:100%;
}

#tagManager{
	width:100%;
}

.footer {	
  	background-color: #1b1c1d;
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	padding: 15px 0;
  	text-align:center;
  	color:rgba(255,255,255,.9);
}

.hourglass {
  animation: hourglassRotation 4s ease-in-out infinite;
}


#field-questionForm-ckcontent{
	display:none;
}

.modal{
	padding:10px;	
}

#bank{
	border: 1px solid #d4d4d5;
	border-radius:.28571429rem .28571429rem 0 0;
}
#QuestionBank{
	border-top:none;
}
#myquestions{
	padding:12px;
}


#_userInfo{
	display:none;
}

pre {tab-size: 4;}

.ck.ck-editor {
	width:100% !important;
}

#mygroupsacc .title{
	padding:0 0 5px 0;
	vertical-align: middle;
}
#gridTitleGroup .column{
	padding: 14px 0 5px 15px;
	height:100%;
}
#gridTitleGroup{
	height: 50px;
	margin: 0;
	padding:0;
}
.active #labelName{
	background-color: lightgrey;
	border-color: transparent;
}
#mygroupsacc .icon.dropdown{
	display: none;
}
#btDemand{
	background:none;
	position:relative;
	padding-right: 0;
	padding-top: 0;
	margin-top:15px;
	margin-bottom:5px;
	margin-right:10px
}
#questionForm-submit-0{
	margin-right: 100%;
	width: 150px;
}
#message-questionForm-message-0{
	display: none;
}
#field-questionForm-mytags-0 label{
	display:none;
}
#dropdown-questionForm-mytags-0{
	padding:0;
	border:none;
	box-shadow: none;
}
#dropdown-questionForm-mytags-0 > .menu{
	max-height: 350px;
	margin-top: 5px;
	width: 350px;
	overflow: hidden;
 }
#tagMenuScrolling{
	max-height: 150px;
}
.hiddenform{
	display: none;
}
#dropdown-questionForm-mytags-0 .ui.label.transition{

	margin-top: 5px;
	background: rgba( 255, 255, 255, 0.25 );
	border-radius: 10px;
}

#tagMenuScrolling:not(:empty) + #notagstxt{
	display: none;
}
.ck-editor__editable {
	min-height:200px;
}
.tagsbutton{
	padding: .78571429em 1.5em .78571429em!important;
	margin:22px 0 0 0!important;
}
#dropdown-questionForm-mytags-0-icon{
	display:none;
}
#primary-menu{
	background: rgba(0,0,0,0.8);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	border-radius: 0;
	padding:0.5em;
}

canvas{
	display:block;
	vertical-align:bottom;
	height: 115vh!important;
}
.js-count-particles{
	font-size: 1.1em;
}
/* ---- particles.js container ---- */

#particles-js{
	margin-top: -79px;
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#homecard{
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	padding:2em;
}
#maincontent{
	min-height: calc( 100vh - 44px);
	margin-top: 44px;
}

.deck{
	display: flex;
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
	flex-direction: column;
	margin: auto;
}
.baseAvatar{
	background-color: black;
	min-width: 2em;
	height: 2em;
	color: white;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
}
.baseAvatarDt{
	background-color: black;
	min-width: 2em;
	height: 2em;
	color: white;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
}
.avatarDt{
	position: relative;
	display: inline-block;
}
.status{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 5px;
	margin-top:2px!important;
	margin-left: 4px!important;
	width: 100px;
	background-color: white;
	text-align: center;
}

#OverseeUserDt tbody td{
	padding: .4em;
	display: flex;
	align-items: center;
}
#OverseeUserDt{
	border-top-right-radius: 0;
	margin-top: 0;
	border-top-left-radius: 0;
}
.top_trainer_right{
	min-height: 49px!important;
}
.top_trainer_middle{
	min-height: 49px!important;
}
.top_trainer_middle header:before {
	background: none;
}

.top_trainer_middle.ui.menu .item:before {
	background: none!important;
}
.top_trainer_middle.ui.menu > .item{
	position: absolute;
}
.top_trainer_middle.ui.menu .header.item:before {
	background: none!important;
}
.top_trainer_middle.ui.menu .right_button .item:before {
	background: none!important;
}

#submitQ:before {
	background: none!important;
}
.right_button {
	position: absolute;
	right: 0px;
	margin-right: 1em;
}
.hiddenbutton{
	display: none!important;
}
#dtBankImport .hide{
	display: none!important;
}
#qbankbar .item:before {
	background: none;
}

#filterTags-icon{
	display: none;
}

#dtBankImport{
	margin-top: 0!important;
}

#filterTags .ui.label.transition{
	padding: 0 13px 0 0;
	margin-top: 5px;
	background: transparent;
}
#filterTags .ui.label.transition i{
	color:black;
}
#filterType{
	min-height: 53px;
}
#filterType-icon{
	display: none;
}
#qcmForm{
	width: 300px;
}
#dtBankChecked{
	border:none;
	margin: 0;
}
#dtBankChecked tr:first-of-type td{
	border-top: 1px solid rgba(34,36,38,.1);

}
#dtBankChecked tr td{
	border-bottom: 1px solid rgba(34,36,38,.1);

}
#dtBankChecked tr td:first-of-type{
	border-left: 1px solid rgba(34,36,38,.1);
}
#dtBankChecked tr td:last-of-type{
	border-right: 1px solid rgba(34,36,38,.1);
}
#filterTags .search{
	width: 0!important;
}

.top_trainer_middle.ui.menu .header.item {
	border-bottom: 3px solid #2185d0;
	border-radius: 0;
	padding-bottom: 0;
	font-size: 15px;
	width: auto;
	height: 50px;
	margin: auto;

}
.flex-container {
	width: 100%;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	justify-content: center;
	align-items: center;
}
#buttonconsole{
	display: none;
}
#console_window{

}
#btn_reduce{
	height: 14px;
	width: 14px;
	margin-left: 14px;
	background-color: #fccc08;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#btn_reduce i{
	margin-left: 4px;
	margin-top: 1px;
	font-size: 0.7em;
	display: none;
	color:#9e5d03;

}
#btn_reduce:hover i{

	display: block;


}
#console_bar{
	border-radius: 10px 10px 0 0;
	cursor: move;
	width:650px;
	border: 1px solid #e8e8e8;
	margin-top: auto;
	margin-bottom: 0;
	min-height: 26px;
	height: 26px;
}
#buttonconsole.active {
	display: block;
}
#logs_console{
	border-radius: 0 0 10px 10px;
	background:#282b2e;
	width:650px;
	height:410px;
	overflow-y: scroll;
	margin-bottom: 2em;
}
.top_trainer_right.ui.menu .item:before {
	background: none;
}

#bts1{
	width: 100%;
	margin-top: 1em;
}

.resizable {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 100px;
	left: 100px;
}
#console_window.reduced{
	transform: scale(0);
}

.resizable .resizers{
	width: 100%;
	height: 100%;

}

.resizable .resizers .resizer{
	width: 10px;
	height: 10px;
	position: absolute;
}

.resizable .resizers .resizer.top-left {
	left: -5px;
	top: -5px;
	cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
	right: -5px;
	top: -5px;
	cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
	left: -5px;
	bottom: 10px;
	cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
	right: -5px;
	bottom: 10px;
	cursor: nwse-resize;
}

#messages_box{
	display: flex;
	flex-direction: column;
}
.message{
	display: flex;
	flex-direction: column;
	max-width: 65%;
	min-width: 100px;
}
.messagecontent{
	margin:0!important;
}
.messagecdate{
	color:grey;
	margin-bottom: 1em;
}
.mine.message{
	margin-left: auto;
}
.yours.message{
	margin-right: auto;
}

@media only screen and (max-width: 1200px) {
	#avatar{
		display: none;

	}
}
