
{{ msg | raw}}
    <div class="ui menu" id="qbankbar">
        <div class="header item" style="border-bottom: 3px solid #2185d0;margin-bottom: -1px;padding-bottom: calc( 0.928571em - 4px )">
            Question bank
        </div>
        {{q['filterType'] | raw }}
        {{q['filterTags'] | raw }}
        <div class="right menu">
            <div class="item">
                <div id="add" href="{{path('question.add')}}" data-target="#response"  class="ui primary button">Create a question</div>
            </div>
        </div>
    </div>
    <div id="scroll"  style="overflow-y: scroll;overflow-x: hidden;height: calc( 100vh - 95px );background: #fafbfc;">
<div class="main ui container">
    <div style="margin-right: 2em;">
        {{ myquestions | raw}}
    </div>
</div>
</div>
    <style>
        body{overflow: hidden}


        #htmltablecontent--0{
            border-color: #c8e1ff;
        }
        #htmltr-htmltablecontent--0-3{
            border-top-right-radius: .5em;
        }
        #htmltr-htmltablecontent--0-0{
            border-bottom-right-radius: .5em;
            border-bottom-left-radius: .5em;
            border-top-left-radius: .5em;
        }

        #htmltablecontent--0 th{
            background: #f0f8ff;
        }

        .field .ui.selection.dropdown{
            max-width: 0;
            min-width: 0;
            padding: 0;
            border: none;
        }
        .field .ui.selection.dropdown .menu{
            min-width: 150px;
            border: none;
        }
        .field .ui.selection.dropdown:hover .menu{
            border: none;
        }
        .field .ui.selection.dropdown .dropdown.icon{
            display: none;
        }

        .ellipsis {
            color: grey;
        }
        .field .dropdown .menu {

            top:10px;
            right: 0;
        }
    </style>
{{ q['modal'] | raw }}
{{script_foot | raw}}
