{{ q['msg'] | raw }}
<div class="ui styled accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {{t('myGroups',[],'main')}}
  </div>
  <div class="content">
    {{q['myGroups'] | raw }}
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    {{t('inGroups',[],'main')}}
  </div>
  <div class="content">
    {{q['inGroups'] | raw }}
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    {{t('waitInGroups',[],'main')}}
  </div>
  <div class="content">
    {{q['waitInGroups'] | raw }}
  </div>
</div>
{{script_foot | raw}}