<div id="response">
<div class="ui container">
	<div  id="addGroup" class="ui green button">{{t('addSubmit',[],'main')}}</div>
	<div id="joinGroup" class="ui green button">{{t('joinSubmit',[],'main')}}</div>
		<div class="ui styled accordion">
			  <div class="title">
				    <i class="dropdown icon"></i>
				    {{t('myGroups',[],'main')}}
			  </div>
			  <div class="content">
			    	{{q['myGroups'] | raw }}
			  </div>
			  <div class="title">
			    <i class="dropdown icon"></i>
			    	{{t('inGroups',[],'main')}}
			  </div>
			  <div class="content">
			    	{{q['inGroups'] | raw }}
			  </div>
		</div>
	</div>
</div>
<div id="addModal" class="ui fullscreen modal" style="padding:10px;">
	<div class="header">{{t('addSubmit',[],'main')}}</div>
	  	<i class="close icon"></i>
	  	<div class="content">
	  		{{ q['addForm'] | raw }}
	  		{{ q['groupAddSubmit'] | raw }}
	 	 </div>
</div>
<div id="joinModal" class="ui fullscreen modal" style="padding:10px;">
	<div class="header">{{t('joinSubmit',[],'main')}}</div>
	  	<i class="close icon"></i>
	  	<div class="content">
	  		{{ q['joinForm'] | raw }}
	  	</div>

{{script_foot | raw}}
</div>