<h1>Qcm-app</h1>
<div class="ui vertical stripe segment"style="margin-top:10%;">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Créer des QCM simplement</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a tellus orci. Maecenas pharetra, nisl non pellentesque placerat, lorem dui pulvinar sem, a dictum tortor turpis sed magna. Mauris porta luctus vestibulum. Morbi a pharetra dui. In tempor mi facilisis augue sodales placerat. Nullam dapibus semper lectus eu rhoncus. Quisque placerat, neque a facilisis tincidunt, arcu erat porttitor arcu, eget aliquam</p>
          <h3 class="ui header">Un Anti-triche a toute épreuve</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a tellus orci. Maecenas pharetra, nisl non pellentesque placerat, lorem dui pulvinar sem, a dictum tortor turpis sed magna. Mauris porta luctus vestibulum. Morbi a pharetra dui. In tempor mi facilisis augue sodales placerat. Nullam dapibus semper lectus eu rhoncus. Quisque placerat, neque a facilisis tincidunt, arcu erat porttitor arcu, eget aliquam</p>
        </div>
        <div class="six wide right floated column">
          <img src="public/assets/img/undraw_exams_g4ow.svg" class="ui large rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Commencer maitenant</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Le meilleur site au monde"</h3>
          <p>C'est ce qu'ils disent tous</p>
        </div>
        <div class="column">
          <h3>"Aucun cocurrent n'est a la hauteur"</h3>
          <p>
          <b>Guillaume Jacopin</b> Chief clown
          </p>
        </div>
      </div>
    </div>
  </div>