<div id="response">
    <div class="main ui segment container">
    <div class="ui horizontal statistics">
    <div class="statistic">
        <div class="value">
            {{ nbQuestion | raw }}
        </div>
        <div class="label">
            Questions
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            {{ nbQuestion | raw }}
        </div>
        <div class="label">
            Groupes
        </div>
    </div>
</div>
    </div>
{{ script_foot | raw }}
</div>