<div id="response">
    <div class="main ui container">
    <h2 class="ui header" style="margin-top:15px">
        <i class="settings icon"></i>
        <div class="content">
            Dashboard
        </div>
    </h2>
    <div >
        <div class="ui stackable two column grid">
            <div class="column">
                <div class="ui equal width center aligned padded grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui segment statistic">
                                <div class="value">
                                    {{ nbQuestion | raw }}
                                </div>
                                <div class="label">
                                    Question
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui segment statistic">
                                <div class="value">
                                    {{ nbQcm | raw }}
                                </div>
                                <div class="label">
                                    Qcm
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="ui segment statistic">
                                <div class="value">
                                    {{ nbGroup | raw }}
                                </div>
                                <div class="label">
                                    Groups
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui segment statistic">
                                <div class="value">
                                    {{ nbExam | raw }}
                                </div>
                                <div class="label">
                                    Exams
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="column">
                        <div class="ui segment statistic">
                            <div class="value">
                                {{ nbUsers | raw }}<i class="users icon"></i>
                            </div>
                            <div class="label">
                                Users in your Groups
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
       </div>
            <div class="column">
                <h2 class="ui header">
                <i id="ExamIcon" class="circle small red icon"></i>
                <div class="content">
                    Exam in progress
                </div>
            </h2>
                {{q['myExam'] | raw }}
                <h2 class="ui header">
                    <i class="chart bar icon"></i>
                    <div class="content">
                        Upcoming Exam
                    </div>
                </h2>
                {{q['myComingExams'] | raw }}
            </div>
        </div>
    </div>
    </div>
{{ script_foot | raw }}
</div>